<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    -->

    <head>
        <title> Keskustelufoorumi </title>

    </head>
    <body>

        <h1 th:text="${alue.otsikko}"></h1>

        <table>
            <tr>
                <th>Alue</th>
                <th>Viestejä</th>
                <th>Viimeisin viesti</th>
            </tr>

            <tr th:each=" lanka: ${langat}">
                <td>
                    <a th:href="${'/langat/' + lanka.id}" > <span th:text="${lanka.otsikko}" ></span> </a>
                </td> 
                <td>
                    <span th:text="${lanka.viesteja_langassa}" ></span>
                </td> 
                <td>
                    <span th:text="${lanka.viimeisinViesti}" ></span>
                </td>
            </tr>
        </table>
        
        <form method="POST" th:action="@{~/alueet/{id}(id=${alue.id})}">
            Lisää lanka: <br/>
            <input type="text" name="lanka"/><br/>
            <input type="submit" value="lisää"/>
        </form>

    </body>
</html>
