<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Foorumi</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Keskustelufoorumi</h1>

        <p>Ja .. <span th:text="${viesti}">jotain?</span></p>
        
        
        <ol>
            <li th:each=" alue: ${alueet}">
                <a th:href="${'/' + alue.id}" > <span th:text="${alue.otsikko}" ></span> </a>
            </li>
        </ol>
    </body>
</html>