<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="/tyyli.css" />
    
    <title> Keskustelufoorumi </title>
        
    </head>
    <body>
        
        <h1>
            <a th:href="@{~/alueet}">Alueet</a> ➝ 
            <a th:href="@{~/alueet/{id}(id=${alue.id})}"><span th:text="${alue.otsikko}"/></a> ➝
            <span th:text="${lanka.otsikko}"/>
        </h1>
        
        <ol>
            <li th:each=" viesti: ${viestit}">
                <b><span th:text="${viesti.nimimerkki}"/></b>:
                <span th:text="${viesti.AikaleimaString}" class="date"/>
                <p th:text="${viesti.viesti}"/>
            </li>
        </ol>
       
        <div id="sivuvalinta">
            <br/><span class="tab">Valitse sivu:</span>
            
            <a th:href="@{~/langat/{id}(id=${lanka.id})} + '/' + ${1}" th:if="${sivumaara} > 0 and ${sivu} != 1">
            <span class="sivuvalitsin" th:text="1" title="Ensimmäinen sivu">ensimmäinen sivu</span></a>

            <a th:href="@{~/langat/{id}(id=${lanka.id})} + '/' + ${sivu - 2}" th:if="${sivu} &gt; 3">
            <span class="sivuvalitsin" th:text="${sivu - 2}" title="Edellisempi sivu">2*edellinen sivu</span></a>
            
            <a th:href="@{~/langat/{id}(id=${lanka.id})} + '/' + ${sivu - 1}" th:if="${sivu} &gt; 2">
            <span class="sivuvalitsin" th:text="${sivu - 1}" title="Edellinen sivu">edellinen sivu</span></a>
            
            <b class="tamasivu" th:text="${sivu}"></b>

            <a th:href="@{~/langat/{id}(id=${lanka.id})} + '/' + ${sivu + 1}" th:if="${sivu + 1} &lt; ${sivumaara}">
            <span class="sivuvalitsin" th:text="${sivu + 1}" title="Seuraava sivu">seuraava sivu</span></a>
            
            <a th:href="@{~/langat/{id}(id=${lanka.id})} + '/' + ${sivu + 2}" th:if="${sivu + 2} &lt; ${sivumaara}">
            <span class="sivuvalitsin" th:text="${sivu + 2}" title="Seuraavampi sivu">2*seuraava sivu</span></a>
            
            
            <a th:href="@{~/langat/{id}(id=${lanka.id})} + '/' + ${sivumaara}" th:if="${sivumaara} &gt; 2 and ${sivu} &lt; ${sivumaara}">
            <span class="sivuvalitsin" th:text="${sivumaara}" title="Viimeinen sivu">viimeinen sivu</span></a>
        </div>
        
        <div id="datansyotto">
        <form method="POST" th:action="@{~/langat/{id}(id=${lanka.id})}">
            Nimimerkki: <br/>
            <input type="text" name="nimimerkki" required="required"/><br/>
            Lisää viesti: <br/>
            <textarea cols="40" rows="5" name="viesti" required="required"></textarea><br/>
            <input type="submit" value="lisää"/>
        </form>
        </div>
       
        <br/><a th:href="@{~/alueet}">etusivulle</a>
        
    </body>
</html>
